<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    </head>
    <body>
        <h1>Sahil's favorite TV shows are:</h1>
        <ol>
            {%for i in range(0,len)%}
            {% if "JoJo's Bizarre Adventure" == TVshows[i] %}
            <li class="absolute">{{TVshows[i]}}</li>
            {%else%}
            <li>{{TVshows[i]}}</li>
            {%endif%}
            {%endfor%}
        </ol>
    </body>
</html>
